<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="false" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Business</display-name>
    
    <servlet>
        <servlet-name>ConfigInit</servlet-name>
        <servlet-class>business.service.ConfigInit</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfigInit</servlet-name>
        <url-pattern>/ConfigInit</url-pattern>
    </servlet-mapping>
    
    <env-entry>
        <env-entry-name>sDriverJDBC</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>com.sybase.jdbc3.jdbc.SybDriver</env-entry-value>
    </env-entry>

    <!--env-entry>
        <env-entry-name>sURL</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>http://pgasa-edu-ua.org:8082</env-entry-value>
    </env-entry-->
            
    <env-entry>
        <env-entry-name>sMailSMTP</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>smtp.gmail.com</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>sMailPortSMTP</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>587</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>sMailFrom</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>serg_geka@mail.ru</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>sMailLogin</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>businesspgasa</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>sMailPassword</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>123qweasdzxc12</env-entry-value>
    </env-entry>
        
</web-app>
