/* 
    Document   : BW_2013-10-22
    Created on : 22.10.2013, 1:03:04
    Author     : User
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.default{
    display:none;
}

.oDialog_Background{
	background:url(../img/dialogBackground.png);	
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
}


.oDialog{
	position:absolute;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f7f7f7',GradientType=0 );
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#f7f7f7));
	background: -webkit-linear-gradient(top, #f9f9f9 0%,#f7f7f7 100%);
	background: -o-linear-gradient(top, #f9f9f9 0%,#f7f7f7 100%);
	background: -moz-linear-gradient(top, #f9f9f9 0%, #f7f7f7 100%);
	background: -ms-linear-gradient(top, #f9f9f9 0%,#f7f7f7 100%);
	background: linear-gradient(top, #f9f9f9 0%,#f7f7f7 100%);
	background: #f9f9f9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior:url(../js/IE.htc); /* ????????????????????????? */
	-webkit-box-shadow:0 2px 3px #9dac81;
	-moz-box-shadow:0 2px 3px #9dac81;
	box-shadow:0 2px 3px #9dac81;
	font-size:11px;
}
.oDialog .oHead{
	position:relative;
	padding:2px;
	text-align:center;
	font-size:15px;
	color:#444444;
	border-bottom:1px solid #dbdbdb;
	-moz-box-shadow:0 1px 0 #fec;
	-webkit-box-shadow:0 1px 0 #fec;
	box-shadow:0 1px 0 #fec;
}
.oDialog .oBody{
	padding:5px;
}
.oDialog .aButton{
	height:45px;
	width:100%;
	bottom:0;
	font-size:10px;
	border-top:1px solid #e1e1e1;
	-webkit-box-shadow:inset 0 1px 0 #ffd;
	-moz-box-shadow:inset 0 1px 0 #ffd;
	box-shadow:inset 0 1px 0 #ffd;
}

.oDialog img.doHideDialog{
	position:absolute;
	top:7px;
	right:7px;
	cursor:pointer;
}


a.oButtonGreen
,input.oButtonGreen
{
	border-bottom:1px solid #397b23;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61a231', endColorstr='#4c8e2f',GradientType=0 );
	background: -moz-linear-gradient(top, #61a231 0%, #4c8e2f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#61a231), color-stop(100%,#4c8e2f));
	background: -webkit-linear-gradient(top, #61a231 0%,#4c8e2f 100%);
	background: -o-linear-gradient(top, #61a231 0%,#4c8e2f 100%);
	background: -ms-linear-gradient(top, #61a231 0%,#4c8e2f 100%);
	background: linear-gradient(top, #61a231 0%,#4c8e2f 100%);
	background: #61a231;
}
a.oButtonRed
,input.oButtonRed
{
	border-bottom:1px solid #8c1d18;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e13636', endColorstr='#b82627',GradientType=0 );
	background: -moz-linear-gradient(top, #e13636 0%, #b82627 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e13636), color-stop(100%,#b82627));
	background: -webkit-linear-gradient(top, #e13636 0%,#b82627 100%);
	background: -o-linear-gradient(top, #e13636 0%,#b82627 100%);
	background: -ms-linear-gradient(top, #e13636 0%,#b82627 100%);
	background: linear-gradient(top, #e13636 0%,#b82627 100%);
	background: #e13636;
	color:#FF5;
}
a.oButtonGray
,input.oButtonGray
{
	border-bottom:1px solid #444444;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#aaaaaa',GradientType=0 );
	background: -moz-linear-gradient(top, #eeeeee 0%, #aaaaaa 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#aaaaaa));
	background: -webkit-linear-gradient(top, #eeeeee 0%,#aaaaaa 100%);
	background: -o-linear-gradient(top, #eeeeee 0%,#aaaaaa 100%);
	background: -ms-linear-gradient(top, #eeeeee 0%,#aaaaaa 100%);
	background: linear-gradient(top, #eeeeee 0%,#aaaaaa 100%);
	background: #999999;
	color:#333333;
}
a.oButtonGreen
,input.oButtonGreen
,a.oButtonRed
,input.oButtonRed
,a.oButtonGray
,input.oButtonGray
{
	font-weight:bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:4px 10px;
	-moz-box-shadow:0 2px 2px #aaaaaa;
	-webkit-box-shadow:0 2px 2px #aaaaaa;
	box-shadow:0 2px 2px #aaaaaa;
	behavior:url(js/IE.htc);
}
input.oButtonGreen
,input.oButtonRed
,input.oButtonGray
{
	border:none;
	cursor:pointer;
}
a.oButtonGreen:hover
,a.oButtonRed:hover
,a.oButtonGray:hover
{
	text-decoration:none;
}
