/*-----------------------КОНТАКТ форма-------------------------------------------*/
/*,h1,h2,h3,p,quote,small,form,input,ul,li,ol,label*/
body  {
	margin:0px;
	padding:0px;
        background-image: url(../img/body-bg1.jpg);
	//f ont-family:Arial, Helvetica, sans-serif;
}
#btLogin 
{
     width : 100px;
}

.sTextAgreement
{
     font-size: 13px; 
     cursor: help; 
     text-decoration: none; 
     color: rgb(180, 180, 180);     
}

.disabled { opacity: 0.3; filter: alpha(opacity=30); }


/*    / *запрет выделения текста на странице* /
#left, textarea{    
     -moz-user-select: -moz-none;
     -o-user-select: none;
     -khtml-user-select: none;
     -webkit-user-select: none;
     user-select: none;
     cursor : default;
}
*/


#space_galery { /*по умолчанию space галерея скрыта*/
     display:none; 
}

/* ---------- Меню Jquery ---------------*/
.ui-menu {  /* для Jquery UI меню */
       width: 210px;  /* ширина меню*/
       font-size:12px;  
       background: rgb(95, 92, 92);
       box-shadow: 0 0 120px rgba(255, 255, 255, 0.3); 
 }
  
#men {
    // ou tline : 1px solid black;
     top : 250px;
     left: 15px;
     position : absolute;
     color: white; 
     width:250px; 
     height:280px; 
     //dis play:none;
}

#men ul {
     font-size:16px; 
    // bac kground-size: 100% 100% contain; 
     background: url(../img/body-bg1.jpg);
     border : 1px solid lightblue;
}

#men ul li a {
     color: black;
   //  fo nt-weight : bold;
     padding-top : 7px;
     padding-bottom : 7px;
     font-family: arial;
    // fo nt-size: 17px;
     color: rgb(99, 145, 156); /*white;*/
}

#img_menu {
     margin-top:12px; 
     margin-right:10px; 
     margin-left:7px;  
}
/* ---------- Меню Jquery ---------------*/


/*Боковое окно помощи (слева)*/
    #divHelpLeft{
            padding-top: 9px;   /* поворот на 90 градусов*/
         -moz-transform: rotate(90deg);
         -webkit-transform: rotate(90deg);
         -o-transform: rotate(90deg);
         writing-mode: tb-rl;

         position: fixed;
         background: rgb(133, 185, 116);
         border-radius: 10px 10px 0px 0px;
         top : 395px;
         left : -86px;
         width : 200px;
         height : 40px;
         border: 1px solid rgb(119, 155, 250);
         font-size: 18px;
         font-family: arial;
         cursor: default;
     }
     

/* стилизация placeholder*/ /* стили для webkit */
.sAuthField::-webkit-input-placeholder {    color:#00f;    opacity: 0.4; } /* Полупрозрачный фон */
.sAuthField::-moz-placeholder {  color:#00f;   opacity: 0.4; }/* Полупрозрачный фон */


#btClose_contact:hover{
color: #ff6666;
     
}

#FON_contact{
display:none;
background-color:  black;
width: 1260px;
height: 2000px;
position: fixed;
    opacity: 0.4;
    filter:alpha(opacity=40);
    -moz-opacity:0.4;
    
z-index: 103;
}

/*html,body {overflow-y:hidden}*/

#form_contact{
    
     font-family: Arial, Helvetica, sans-serif;
     display:none;
   /* opacity: 100; / *!important;     */
     z-index : 104;
    position:fixed;    
    top: 10%;  width:430px; height:600px; left:33%;
	background-color: #B3C0DD; /*#A7AEC4;;                 /*E6B8B8; /*#AECC8D; /*#E6B8B8;/*#f5f5f5;*/
	padding:15px;
	    -moz-border-radius:10px;
	    -khtml-border-radius: 10px;
	    -webkit-border-radius: 10px;
	border-radius:12px;
	border: 1px solid orange;
}

#btClose_contact{
  display:block; 
  position: absolute; 
  left: 430px; 
  top : 7px;
  color:red; 
  font-weight:bold; 
  display:block; 
  cursor: default; 
  font-size: 25px;
}


#form_contact div{
   
vertical-align: middle;
padding-top:10px;
height : 30px;
}

.theInput{
position:absolute;
left : 170px;
margin-top: -6px;
padding : 4px;
width :250px;
font-size:16px;
}

select.theInput{
width :260px !important;
}

#textarea_contact{
	background-color: #D5D5D5;
	font-family:Arial,Helvetica,sans-serif;
	font-size:16px;
	resize: none; /* Запрещаем изменять размер */
        width: 420px;
}


#title1{
      margin-top: -5px; 
	color:#463737;
	font-size:22px;
	font-weight:normal;
	text-transform:uppercase;
	margin-bottom:5px;
}

/*------------------------------------------------------------------*/
#divAllSessinList{
    position: fixed;
    left : 20%;
    top : 10%;
    display : none;
     border   : 1px solid black ;
        width    : 800px;    
	height   : 600px; 
         /*m argin        : 0 auto;  / *по центру экрана* /*/
         background:  #8DA6B8; /*#CD853F;*/
         z-index: 104;
         
     overflow:auto; /* прокрутка появляется по необходимости */
    padding:10px 10px;
   // b order:#999 1px solid;

     
}

#divAllSessinList table{  /* вся таблица*/
	width:100%;
	//he ight:100%;
	//ma rgin:0px;
	//pa dding:0px;
	border-right:1px solid #3f7f00;
	border-top:1px solid #3f7f00;
        
        
}

#divAllSessinList table tr:hover{
  background: #f3bd48; /* Цвет фона строки при наведении */
}

#divAllSessinList tr:nth-child(odd)     {    background-color: #e3ffa3 }  /*  не четные строки */
#divAllSessinList tr:nth-child(even)    {    background-color:#eeffc9; }  /* четные строки */

#divAllSessinList td{  /*одна  (каждая) ячейка*/
	//ve rtical-align:middle;
	border-bottom: 1px solid #3f7f00;
	border-left: 1px solid #3f7f00;
	text-align:left;
	padding:5px;
	    padding-left:10px;
	font-size:12px;
	font-family:Arial;
	color:#000000;
}


#divAllSessinList tr:first-child td{  /*самая первая строка ЗАГОЛОВОК заливка*/
	background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	background: -o-linear-gradient(top,#5fbf00,3f7f00);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	
	
	text-align:center;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff; /*цвет шрифта*/
	}
        
/*--------------------------------------------------------------------------*/


#divError{
    position: absolute;
        border   : 1px solid orange ;
        width    : 100px;    
	height   : 100px; 
        background: blue;
        display: block;
}





/* -------------------------/ ВСЕ Кнопки /------------------------------------ */

.allButt {
 // w idth: 95px;
height: 30px;
font-weight: bold;
font-size: 16px;
 //  co lor: rgb(88, 112, 175);
  // f ont-family: verdana;

font-family: Arial; 
border-radius: 6px; 
background-image: -webkit-linear-gradient(top, rgb(150, 209, 255) 0%, rgb(90, 183, 255) 90%); /*rgb(38, 93, 153) */

outline: none;   /*отключаем желтую рамку */
}



/* -------------------------/ ФОН (СОЗДАНИЕ АККАУНТА и ВХОДА) /------------------------------------ */
#divFon{
         position : absolute;   
	 left:0px;   
	 top:0px;   
	 width:100%;  
	 height:100%;  
          background-image: url(../img/body-bg1.jpg);
}


/*--------------------------------------------------------------------------------------
-------------------------------------  ВХОД НА САЙТ ------------------------------------
---------------------------------------------------------------------------------------*/

/* -------------------------/ форма входа на сайт /------------------------------------ */
.divLogin {
        position: relative;       
        border: 1px solid rgb(29, 29, 29);
        width : 410px; 
        height : 190px;  /*375 - 190*/
        top : 190px;
        font-size: 16px;
        /*background-image: -webkit-linear-gradient(top, rgb(191, 236, 151) 0%, rgb(70, 128, 37) 100%);*/
        background-image: -webkit-linear-gradient(top, rgb(199, 199, 199) 0%, rgb(63, 65, 61) 100%);
        border-radius: 7px;
        margin: 0 auto;  /*по центру экрана*/
           /*box-shadow: 0 0 60px rgba(0,0,0,0.9); / * Параметры тени */
          /* box-shadow: 0 0 100px rgba(555,555,555,0.7)*/
          box-shadow: 0 0 100px rgba(0, 163, 255, 0.8);
}


/* -------------------------/ строки ввода данных /------------------------------------ */
.sAuthField       
{     
      border: solid 1px rgb(78, 74, 74);
      padding: 8px;
      margin-bottom : 13px;
      -webkit-border-radius : 5px; /*Chrome  Safari*/ 
	//     b order		      : solid 3px transparent;
	 //   -m oz-box-shadow		  : 0 0 20px 3px #1E90FF;
	  //   -w ebkit-box-shadow	  : 0px 0px 7px 3px #1E90FF;
	width : 350px;

       background: rgb(231, 231, 231);
       outline: none;   /*отключаем желтую рамку */
}


/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/





/*---------------------------------------------------------------------------------------*/
/* ------------------------ ГЛАВНАЯ СТРАНИЦА САЙТА  --------------------------------- */
/*---------------------------------------------------------------------------------------*/


/* ------------------------Верхнее Меню--------------------------------- */
#separatop {   /*разделитель меню*/
    margin-top : 10px; /*отступ в меню*/
    height: 30px;
    float: left;
    width: 0px;
    border-right: 1px solid orange; /* Линия сверху текста */
    padding: 2px;
    /* bo rder-radius: 5px 5px 5px 5px;*/
}
#divNavigation {
 /*   bo rder: 1px solid orange;*/
    margin-top:20px;
    padding-left : 10px;
    Left: 50%;
    width: 1190;
    height: 50px;
/*    m  argin: 0;
    pa  dding: 0;
    posi tion:absolute;
    mar gin: 0 auto;  /*по центру экрана*/
    background: url(../img/menu/navigation-bg.jpg) no-repeat left top;
} 
#divNavigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
} 
#divNavigation ul li {
    display: inline;
    margin: 0px;
} 
#divNavigation ul li a {
    height:33px;
    display: block;
    float: left;
    padding: 17px 11px 0 11px;
    font: bold 15px Arial, sans-serif, Helvetica,   Geneva;
    color: #363636;
    text-decoration: none;
   /* bac kground: url(../img/menu/navigation-separator.png) no-repeat right center;*/
} 
#divNavigation ul li a:hover {
    color: #FFF;
  //  ba ckground: url(../img/menu/navigation-hover.png) repeat-x left top;
   /* b order-radius: 7px 7px 7px 7px;*/
}
#divNavigation ul li #active a {
    color: orange;/*#FFF;*/
   // bac kground: url(../img/menu/navigation-hover.png) repeat-x left top;
}
/* ----------------------------------------------------------------------------- */



#divMainPage{
     background-image: url(../img/body-bg1.jpg);
   //  ba ckground: rgb(43, 43, 43);
    border-radius: 10px 10px 10px 10px;
     top : 35px;
    position: relative ;
    margin:0 auto;
    width : 1000px;
    height : 1200px;
  //  bo rder: 1px solid black; /* Параметры рамки */ 
   /* p adding :20px;**/
    //          b ox-shadow: 0 0 120px rgba(255, 255, 255, 0.7);
   // bo x-shadow: 0 0 120px rgba(255, 255, 253, 0.27);
    border: 5px solid rgb(119, 155, 250);
    box-shadow: 0 0 50px rgba(255, 255, 253, 0.55);
   
}

#divLeftNavigator span {   /* название главных пунктов*/
    font-weight: bold;
    font-size: 18px;
}

hr 
{
    width : 200px; /* разделительная полоса */
}

#divLeftNavigator {   /* навигация  слева */
    background: #FFF8DC; /* Цвет фона */
    top : 230px;
    height : 1930px; 
    width : 250px; 
    position: absolute;
    border-radius: 10px 10px 10px 10px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid orange; /* Параметры рамки */  
}


#divNavigation ul li a:hover {  /* #divMainPage a:hover  фон при наведенной ссылке*/
   /* d isplay : block;*/
    background-color:orange;
    
}
/*
A----5:visited {    color: blue; / * Цвет  ссылки * /  	}   
*/

#img_logo {
  //  b order: 1px solid orange; /* Параметры рамки */    
    position: relative ;
    left : 15px;
    top : 15px;
    height: 90px;
        width: 140px;     /*op acity : 0.2;*/
    background: url(../img/logo4.png)  no-repeat left top;
    background-size: contain;

}

#main_pict {
   /* b order: 1px solid black; /* Параметры рамки */  
    position: absolute/*relative*/ ;
    width : 916px;
    left : 270px;
    top: 50px;
    height : 600px;
}

#main_text{
   /* bo rder: 1px solid black; /* Параметры рамки */  
    padding : 10px;   /* Отступ внутри дива */
    text-indent: 25px; /* Отступ первой строки текста */
    text-align: justify; /* Выравнивание по ширине текста */
    font-size: 22px;
}

p {
    margin-top: 1px; /* Отступ абзаца сверху */
    margin-bottom: 1px; /* Отступ  абзаца  снизу */
} 

   

/*Шрифты для qTip2*/
.qtip-content { font-size: 14px; margin : 3px;  line-height: 140%;}
.qtip-title { font-size: 14px;  margin : 3px;  }
/*.qtip { border-radius: 5px 5px 5px 5px; }*/


input::-webkit-input-placeholder {
font-style:italic;
letter-spacing:2px; color:#B5B5B5;
font-size: 13px;
padding-top: 2px;
}







/* ----------не задействовано -------------------- СОЗДАНИЕ АККАУНТА  ------------------------------*/

/* -------------------------/ форма создания Аккаунта /------------------------------------ */

/*
#divAccount {
        position : relative;       
        border: 1px solid rgb(59, 59, 59);
        width    : 290px;    
	height   : 420px;     
          font-size        : 16px;
          background-color : #CACACA; / *#FFFACD; * /
          border-radius    : 6px;
             margin        : 0 auto;  / *по центру экрана* /
             padding-left  : 30px;
  
           box-shadow: 0 0 120px rgba(255, 255, 255, 0.7);
           
           top : 150px;
}

#divHeader_Account
{  
	position : relative; 
	left : -30px;
	width : 320px;
	border-radius: 5px 5px 0px 0px;
	    / *  t ext-align: center;* /
	text-indent: 30px;
	padding-top : 14px; 
	padding-bottom : 14px; 
	font-size: 18px;  
	font-weight: bold;    
	background : #1667CC;  
	color : white;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	  / *     bor der : 1px solid blue ; * /
}




.sInput_Account
{
   // b order:solid 1px grey;
    border: solid 1px rgb(75, 75, 75);
    padding : 4px;
   //      b order:solid 3px transparent;     
   //     -mo z-box-shadow:0 0 20px 3px #1E90FF;          / *тень* /
   //     -we bkit-box-shadow:0px 0px 7px 3px #1E90FF;
    -webkit-border-radius: 3px; /* Chrome  Safari* /       / * закругление* /
    width : 250px;
    font-size: 16px;
    margin-bottom : 11px;
    margin-top: 16px;
    color : black;
}



#btClose_Account    / *  КНОПКА закрытия окна Аккаунта  * /
{
    position : absolute; 
	/ *al ign : right;* /
	left : 292px;
	top : 5px;
	border-radius: 3px;
	border : 1px solid grey ;
}

#btClose_Account:hover  / *  наведение на КНОПКУ закрытия окна Аккаунта  * /
{
	top : 4px;
	border : 1px solid black ;
}
*/



